<h1> Edit registration data </h1>

<%= form_for @user, url: edit_users_path(@user), method: :patch, data: { turbo: false } do |form| %>
    <%= render "shared/form_errors", form: form %>

    <div class="mb-3">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", placeholder: "George Robert"  %>
    </div>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "george@gmail.com" %>
    </div>
    <div class="mb-3">
        <%= form.submit "Update data", class: "btn btn-primary" %>
    </div>

<% end %>